In [1]:
# Importa dependências necessárias
%pip install pandas
%pip install numpy
import pandas as pd
import numpy as np

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /var/data/python/lib/python3.11/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /var/data/python/lib/python3.11/site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /var/data/python/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /var/data/python/lib/python3.11/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /var/data/python/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /var/data/python/lib/python3.11/site-packages (2.1.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Gera um dataframe com 10 milhões de linhas e 100 colunas com números "aleatórios" entre 0 e 1
num_rows, num_columns = 10_000_000, 100
data = np.random.rand(num_rows, num_columns)
dataset = pd.DataFrame(data, columns=[f"col_{i+1}" for i in range(num_columns)])
dataset.tail(5)

,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,...,col_91,col_92,col_93,col_94,col_95,col_96,col_97,col_98,col_99,col_100
9999995,0.034501,0.121848,0.467717,0.877766,0.878499,0.936883,0.789328,0.909654,0.791481,0.127216,...,0.079612,0.410640,0.995345,0.640881,0.714778,0.980674,0.201933,0.026760,0.224835,0.974148
9999996,0.615655,0.210419,0.732309,0.041191,0.194530,0.377047,0.543063,0.235601,0.097261,0.970263,...,0.758696,0.627208,0.916318,0.276773,0.948429,0.341518,0.664983,0.576333,0.296541,0.670040
9999997,0.335630,0.676692,0.761090,0.577002,0.664974,0.409550,0.088373,0.548355,0.258230,0.677708,...,0.660155,0.831205,0.605771,0.587956,0.965012,0.498652,0.713222,0.743059,0.450254,0.456685
9999998,0.938340,0.652601,0.949615,0.308382,0.457313,0.207847,0.789087,0.600572,0.995137,0.749449,...,0.690757,0.869219,0.093962,0.433426,0.732032,0.701376,0.904415,0.371543,0.839560,0.211769
9999999,0.215323,0.194770,0.457084,0.418391,0.170540,0.422540,0.387045,0.468414,0.607909,0.234753,...,0.958710,0.316522,0.382977,0.282852,0.779345,0.701562,0.883917,0.267973,0.001985,0.522598

In [3]:
# Grava o arquivo no formato CSV
try:
    dataset.to_csv("numbers_input.csv", index=False, chunksize=100000)
    print("O dataset 'numbers_input.csv' foi salvo com sucesso!")
except:
    print("Erro ao salvar o dataset!")

O dataset 'numbers_input.csv' foi salvo com sucesso!

In [4]:
# Lê o arquivo em blocos de 100 mil linhas, multiplica os dados por 10 e grava os novos resultados
try:
    for chunck in pd.read_csv("numbers_input.csv", chunksize=100000):
        chunck *= 10
        chunck.to_csv("numbers_output.csv", mode="a")
    print("O dataset 'numbers_output.csv' foi salvo com sucesso!")
except:
    print("Erro ao salvar o dataset!")

O dataset 'numbers_output.csv' foi salvo com sucesso!